cellBorder = 1px solid lightgray
highlight = lightblue
queryListWidth = 23rem

body
  margin 1.5em
  max-width 1000px

code
  font-family monospace

h1, h2, h3
  margin 0 0 1.5ex 0
  font-style bold

h1
  font-size 145%
  background highlight
  padding 4px

h2
  font-size 135%

h3
  font-size 110%

input[type="text"]
  font-family monospace

p
  margin-top 0

table
  margin-bottom 1.5em
  border-collapse collapse

td, th
  border-top cellBorder
  border-bottom cellBorder
  padding 0.75ex 1.5ex
  vertical-align middle
  &:first-child
    border-left cellBorder
    padding-left 1em
  &:last-child
    border-right cellBorder

th
  font-weight bold

.desc
  width 60%
  font-size 94%

.input
  width 20%

td
  &.name, &.type
    font-family monospace

.notfound
  font-style italic

.queryLink
  display block
  color blue
  text-decoration none
  font-family monospace
  font-size 95%
  &:hover
    color blue
    background-color highlight
    text-decoration underline
  &.active
    background-color highlight

.typeDescription
  span, p
    display inline-block
    width 45em

#description, #reqParams
  margin-bottom 1em

#description
  font-size 120%

#query
  padding-left (queryListWidth + 1.5)
  margin-bottom 2.5em

#queryList
  position absolute
  width queryListWidth
  padding 1ex
  border cellBorder

#resFields
  td, th
    border cellBorder

#submit
  float right
