body {
    margin: 1.5em;
}
code {
  font-family: monospace;
}
h1, h2, h3 {
    margin: 1.5ex 0;
}
input[type="text"] {
  font-family: monospace;
  width: 20em;
}

.section table {
  border-collapse: collapse;
}
.section td {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.75ex 1ex;
  vertical-align: middle;
}
.section td:first-child {
  border-left: 1px solid lightgray;
  padding-left: 1em;
}
.section td:last-child {
  border-right: 1px solid lightgray;
}
.section .name {
  width: 12em;
  font-family: monospace;
}
.section .desc {
  width: 30em;
}
#resFields td {
  border: 1px solid lightgray;
}
