body {
    margin: 1.5em;
}
code {
  font-family: monospace;
}
h1, h2, h3 {
    margin: 1.5ex 0;
}
input[type="text"] {
  font-family: monospace;
  width: 20em;
}
table {
  margin: 1.5em 0;
  border-collapse: collapse;
}
td, th {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0.75ex 1.5ex;
  vertical-align: middle;
  text-align: left;
}
td:first-child, th:first-child {
  border-left: 1px solid lightgray;
  padding-left: 1em;
}
td:last-child, th:last-child {
  border-right: 1px solid lightgray;
}
th {
  font-weight: bold;
}

.desc {
  width: 30em;
}
td.name, td.type {
  font-family: monospace;
}
.notfound {
  font-style: italic;
}
.typeDescription span, .typeDescription p {
  display: inline-block;
  width: 45em;
}

#resFields td, #resFields th {
  border: 1px solid lightgray;
}
