{{#*inline "reqItem"}}
<tr>
<td class="name">{{name}}</td>
<td class="input"><input type="text" name="{{name}}"></td>
<td class="desc">{{{desc}}}</td>
</tr>
{{/inline}}

<table>
{{#each params}}
{{#with (lookup ../info @this)}}
{{#unless global}}
{{> reqItem name=../this}}
{{/unless}}
{{/with}}
{{/each}}
</table>

<h3>Global</h3>
<table>
{{#each params}}
{{#with (lookup ../info @this)}}
{{#if global}}
{{> reqItem name=../this}}
{{/if}}
{{/with}}
{{/each}}
</table>
