{{#*inline "reqItem"}}
<tr>
<td class="name">{{name}}</td>
<td class="input"><input type="text" name="{{name}}"></td>
<td class="desc">{{{attr.desc}}}</td>
</tr>
{{/inline}}

<table>
{{#eachSorted params}}
{{#unless attr.global}}
{{> reqItem}}
{{/unless}}
{{/eachSorted}}
</table>

<h3>Global</h3>
<table>
{{#eachSorted params}}
{{#if attr.global}}
{{> reqItem}}
{{/if}}
{{/eachSorted}}
</table>
