{{#*inline "table"}}
<table class="table">
<tr><th class="name">field</th><th class="type">type</th><th class="desc">description</th></tr>
{{#eachSorted fields}}
  <tr>
  <td class="name">{{@key}}{{> onlyWhenInfoIcon field=@key onlyWhen=onlyWhen}}</td>
  <td class="type">{{type}}{{> typeInfoIcon type=(lookup ../types type)}}</td>
  <td class="desc">{{{desc}}}</td>
  </tr>
{{/eachSorted}}
</table>
{{/inline}}

<h2>Response fields</h2>

{{#if resFields}}
  <h3>Result Object</h3>
  {{> table fields=resFields}}
{{/if}}

<h3>Root</h3>
{{> table fields=resFieldsRoot}}
