{{#*inline "resItem"}}
<tr>
{{#if attr.include}}
<td class="name">({{name}})</td>
{{else}}
<td class="name">{{name}}</td>
{{/if}}
<td class="desc">{{{attr.desc}}}</td>
</tr>
{{/inline}}

<h3>Object</h3>

<table>
{{#eachSorted fields}}
{{#unless attr.root}}
{{> resItem}}
{{/unless}}
{{/eachSorted}}
</table>

<h3>Root</h3>
<table>
{{#eachSorted fields}}
{{#if attr.root}}
{{> resItem}}
{{/if}}
{{/eachSorted}}
</table>
